/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --white: #fffafa;
  --black: #2a2a2a;
  --gray: #c4c4c4;
  --error: #dc143c;
  --success: #3bc736;
  --font: "Red Hat Display", sans-serif;
}

/* General */
body {
  font-family: var(--font);
  color: var(--black);
  font-size: 1rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 1.5rem 0 3rem;
}

/* ---------------------------- UPLOAD PAGE ---------------------------- */

.index_body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_wrapper {
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 616px;
  height: 420px;
  background: var(--black);
  border-radius: 20px;
}

#upload_form {
  width: 284px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 47px 0;
  width: 284px;
}

.deco_line {
  height: 3px;
  border-radius: 3px;
  width: 50%;
  background: var(--gray);
}

.deco_circle {
  min-height: 7px;
  min-width: 7px;
  background: var(--gray);
  border-radius: 50%;
}

#imagem {
  visibility: hidden;
  position: absolute;
}

#upload_form {
  display: grid;
  place-items: center;
}

.btn {
  display: grid;
  place-items: center;
  height: 51px;
  width: 284px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 700;
  background: var(--white);
  color: var(--black);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.slct {
  background: none;
  color: var(--white);
  border: 3px solid var(--white);
}

.flashes {
  position: absolute;
  color: var(--white);
  top: 1rem;
}

#redMsg {
  border: 3px solid var(--error);
  color: var(--error);
}

#greenMsg {
  border: 3px solid var(--success);
  color: var(--success);
}

/* ---------------------------- FILES PAGE ---------------------------- */
.files {
  text-align: center;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  table-layout: fixed;
}

tbody {
  position: relative;
}

tbody::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--black);
  border-radius: 20px;
  z-index: -1;
  transform: translate(-2px, -2px);
}

.table_data > td {
  width: 100px;
  white-space: nowrap;
  padding-top: 1rem;
}

tbody > tr:last-child > td {
  padding: 1rem;
  width: 25%;
}

thead th {
  padding-bottom: 0.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
