{% extends 'base.html' %} {% block title %}Minhas imagens{% endblock %} {% block
body %}
<h1>Minhas imagens</h1>
{% if my_list %}
<table class="files">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Adicionado em</th>
      <th>Tamanho</th>
      <th>Extensão</th>
    </tr>
  </thead>
  <tbody>
    {% for file in my_list %}
    <tr class="table_data">
      <td>{{file['nome']}}</td>
      <td>{{file['adicionado_em']}}</td>
      <td>{{file['tamanho']}}</td>
      <td>{{file['tipo']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p style="text-align: center">
  Nenhuma imagem {% if ext %} "{{ext}}" {% endif %} encontrada. Clique
  <a href="/upload" style="color: var(--black)"><b>aqui</b></a> para adicionar
  imagens.
</p>
{% endif %} {% endblock %}
