{% extends 'base.html' %} {% block title %}Banco de imagens{% endblock %} {%
block body%}

<h1 class="page_h1">Banco de imagens</h1>
<div class="form_wrapper">
  <form
    action="/upload"
    enctype="multipart/form-data"
    method="POST"
    id="upload_form"
  >
    <div>
      <input type="file" name="imagem" id="imagem" />
      <label for="imagem" class="btn slct" id="slct">Selecionar imagem</label>
    </div>
    <div class="separator">
      <div class="deco_line"></div>
      <div class="deco_circle"></div>
      <div class="deco_line"></div>
    </div>
    <div>
      <button id="send" class="btn">Enviar imagem</button>
    </div>
  </form>
</div>
<p style="color: var(--error); text-align: center">{{msg}}</p>
<p style="text-align: center">{{sent}}</p>

<script src="../static/script.js"></script>

{% endblock %}
